- content_for :subheader_detail do
  %div
    .breadcrumbs
      = link_to 'Issues', [:admin, :issues]
      = link_to @issue.issue_date.strftime("%e %b %Y"), [:admin, @issue]

    %nav
      - if current_user.is_admin?
        - if @issue.published
          = link_to "Unpublish", [:unpublish, :admin, @issue], class: 'button', method: :put
        - else
          = link_to "Publish", [:publish, :admin, @issue], class: 'button', method: :put

- cache ['admin', @issue, @issue.articles] do
  .layouter.-issue{data: {controller: "layouter", layouter: {"persist-url-value": reorder_admin_issue_path(@issue)}}}
    .layouter__preview{data: {layouter: {target: "preview"}}}
      - @issue.articles.by_position.each do |article|
        - cache ['admin', @issue, article, 'row'] do
          .layouter__article{data: {layouter: {target: "article", "article-id": article.id}}}
            .layouter__image
              - if article.featured_artwork.present?
                = image_tag article.featured_artwork.image.large.url
            .layouter__headline= link_to article.title, [:admin, article]
            .layouter__byline= raw article.authors.map { |author| link_to(author.full_name, [:admin, author]) }.to_sentence