- content_for :subheader_list do
  %div
    .breadcrumbs
      = link_to 'Comments', [:admin, :comments]

    %nav &nbsp;

  %div.filters
    .page= render partial: "admin/layouts/pagination", locals: {collection: @comments}

%table.admin-table
  %tbody
    - @comments.each do |comment|
      - cache ['admin', comment, 'row'] do
        %tr
          %td= link_to comment.display_name, [:admin, comment]
          %td= link_to comment.article.title, [:admin, comment]
          %td{width: '150'}= comment.created_at.strftime('%k:%M on %Y/%m/%d')
          %td{width: '150'}= comment.is_published? ? 'published' : '-'