- title 'Past issues of Dublin Inquirer'

%header.page-header
  %h1.h.-h2 Past issues

.block.-pt2.-pb4
  .wrapper.-contained{role: 'layout'}
    - @issues.each do |issue|
      - cache([issue, 'partial']) do
        .block.-my4
          .row
            .col-xs-12.col-md-7
              %header.block.-mb1.-pl4
                %h2.h.-h3= link_to issue.issue_date.strftime('%-d %B %Y'), issue
              .p.-t3.c.-serif
                %ol.list.-articles
                  - issue.articles.standard.by_position.each do |article|
                    %li= link_to article.title, article.path
            .col-xs-12.col-md-3.col-md-offset-2
              = link_to issue do
                %figure.artwork= image_tag issue.featured_article.featured_artwork.image.large.url
        %hr.-stroke

    = render partial: 'layouts/pagination', locals: {page: @page, collection: @issues}
