= form_for [:admin, article], html: {class: 'admin-form', data: {"form-target": "form"}}do |f|
  - if article.errors.any?
    %ul.errors
      - article.errors.full_messages.each do |message|
        %li= message

  %fieldset
    .field
      = f.label :title, 'Headline'
      .input= f.text_field :title
    .field{data: {controller: "excerpt", excerpt: {"min-value": 140, "max-value": 160}}}
      = f.label :excerpt_markdown, 'Excerpt'
      .input= f.text_area :excerpt_markdown, data: {action: "excerpt#updateHint", "excerpt-target": "input"}
      .hint{data: {excerpt: {target: "hint"}}}
    .field
      = f.label :category
      .input= f.select :category, Article.category_options
    .field
      = f.label :template
      .input= f.select :template, Article.template_options
    .field
      = f.label :tag_ids, 'Tags'
      .input{data: {controller: "multi-tag"}}
        = f.text_field :tags, value: article.tags.map(&:name).join(','), data: {"multi-tag-target": "tagInput"}
    .field
      = f.label :issue_id, 'Issue'
      .input= f.select :issue_id, Issue.order('issue_date desc').map { |i| [i.issue_date, i.id] }, include_blank: true
    - if article.persisted?
      .field
        = f.label :author_ids, 'Author'
        .input= f.select :author_ids, Author.order('full_name asc').map { |a| [a.full_name, a.id] }, {include_blank: true}, {multiple: true, 'data-behaviour': 'token'}
    .field
      = f.label :featured_artwork_id, 'Featured image'
      .input.-image-picker
        - article.artworks.each do |artwork|
          %div.option
            %label
              = f.radio_button :featured_artwork_id, artwork.id, checked: (artwork == article.featured_artwork)
              = image_tag artwork.image.small.url, loading: 'lazy'

  .actions= f.submit 'Save', class: 'button'