- content_for :subheader_detail do
  %div
    .breadcrumbs
      = link_to 'Articles', [:admin, :articles]
      = link_to truncate(@article.title, length: 30), [:admin, @article]
      = link_to 'Edit', [:edit, :admin, @article]

    %nav
      = link_to "Cancel without saving", [:admin, @article], class: 'button -cancel'
      = link_to "Save", [:admin, @article], class: 'button', 'data-action': 'submitForm'

= render partial: 'admin/articles/form', locals: {article: @article}