- content_for :subheader_list do
  %div
    .breadcrumbs
      = link_to 'Articles', [:admin, :articles]

    %nav
      = link_to 'New article', [:new, :admin, :article], class: 'button'

  %div.filters
    .page= render partial: "admin/layouts/pagination", locals: {collection: @articles}

    .options
      = form_tag [:admin, :articles], method: 'get', class: 'admin-search-form' do
        = text_field_tag :query, @filter[:query]
        = submit_tag raw('⏎'), class: 'button -small'

%table.admin-table
  %tbody
    - @articles.each do |article|
      - cache ['admin', article, 'row'] do
        %tr
          %td= link_to truncate(article.title, length: 92), [:admin, article]
          %td{width: '150'}= article.status
          %td{width: '150'}= article.issue_date.present? ? article.issue_date.strftime('%e %b %Y') : '-'