- content_for :subheader_detail do
  %div
    .breadcrumbs
      = link_to 'Articles', [:admin, :articles]
      = link_to 'New article', [:new, :admin, :article]

    %nav
      = link_to "Cancel without saving", [:admin, :articles], class: 'button -cancel'
      = link_to "Save", [:admin, :articles], class: 'button', 'data-action': 'submitForm'

= render partial: 'admin/articles/form', locals: {article: @article}