- path = "media/images/#{ candidate.slug }.jpg"
- if Webpacker.manifest.lookup(path)
  .artwork.-portrait.-square= image_pack_tag(path, alt: "a portrait of #{ candidate.name }")
- else
  .artwork.-portrait.-square= image_pack_tag("media/images/missing.jpg", alt: "we don't have a picture of #{ candidate.name }")