- path = "static/#{ candidate.slug }.jpg"
- if asset_exists?(path)
  .artwork.-portrait.-square= image_pack_tag(path, alt: "a portrait of #{ candidate.name }")
- else
  .artwork.-portrait.-square= image_pack_tag("static/missing.jpg", alt: "we don't have a picture of #{ candidate.name }")