- set_meta_tags title: @candidate.name
- set_meta_tags description: "#{ @candidate.name }, #{ @party.name } candidate for #{ @area.name } in the 2019 local elections, on how they would address the issues our readers asked about"

- cache [@survey, "candidate", @candidate.slug] do
  .block.-pt4.-pb2.-px2.-bg-blue
    .row
      .col-xs-12.col-md-8
        %h1.h.-h2 #{ @candidate.name }
        .p.-t4.block.-mt1.-sf
          #{ link_to @party.name, party_projects_election_survey_path(id: @survey.slug, party_id: @party.slug) }
          candidate for
          #{ link_to @area.name, area_projects_election_survey_path(id: @survey.slug, area_id: @area.slug) }

      .col-xs-12.col-md-4.flex
        .external-links
          - if @survey.tracker_url_for(@candidate)
            = link_to "View past votes on CouncilTracker.ie", @survey.tracker_url_for(@candidate)
  
  - if !@survey.has_responses_from?(@candidate)
    .block.-bg-faint.-py4
      .wrapper.-container{role: 'layout'}
        .wrapper.-small{role: 'layout'}
          .block.-my4.-py4
            .block.-p4.-b.-bg-default
              .p.-t3.-centered.-sf
                :markdown
                  #{ @candidate.name } hasn't yet responded to our questionnaire. If #{ @area.name } is your local electoral area, why not send them an email reminding them to submit their responses?

              .block.-mt4
                .p.-t3.-centered
                  = link_to "Email #{ @candidate.name }", "mailto:#{ @candidate.email_address }?cc=sam@dublininquirer.com&subject=dublin inquirer questionnaire&body=I am a voter in #{ @area.name } and I am interested in your responses to the questions on Dublin Inquirer's local election project.", class: 'button -standard'

  - else
    .block.-bg-faint.-pt4
      - @questions.each do |question|
        - response = @survey.response_for(question,@candidate)
        %a.question-anchor{id: "question-#{ question.position }"} &nbsp;
        .question.block.-brief
          .header
            - if question.position > 1
              %a.back{href: "#question-#{ question.position - 1 }", data: {action: "election#scrollTo"}} Back

            .wrapper.-small{role: 'layout'}
              .h.-h3.-centered
                %a{href: "#question-#{ question.position }", data: {action: "election#scrollTo"}}
                  .c.-w8
                    #{ question.position }.
                    %br
                    = question.body

            - if question.position < 10
              %a.next{href: "#question-#{ question.position + 1 }", data: {action: "election#scrollTo"}} Next

          .wrapper.-container{role: 'layout'}
            .wrapper.-large{role: 'layout'}
              .response.block.-my4
                .candidate
                  .content
                    = link_to candidate_projects_election_survey_path(id: @survey.slug, candidate_id: @candidate.slug) do
                      .block.-mb2
                        = render partial: 'projects/election_surveys/portrait', locals: {candidate: @candidate}
                        .speech-line
                      .p.-centered
                        %p.p.-t4.c.-w6= @candidate.name
                        %p.p.-t5.c.-w4= @party.name

                .body
                  .response-body
                    - if response.body.present?
                      .p.-serif.-sf.-t3
                        :markdown
                          #{ response.body }