- set_meta_tags title: @party.name
- set_meta_tags description: "Read what #{ @party.name } candidates in the 2019 local elections say they will do to address the issues our readers asked about"

- cache [@survey, "party", @party.slug] do
  .block.-pt4.-pb2.-px2.-bg-blue
    .row
      .col-xs-12.col-md-8
        %h1.h.-h2 #{ @party.name }
        .p.-t4.block.-mt1
          - if @party.note.present?
            :markdown
              #{ @party.note }
          - else
            %p #{ pluralize @candidates.count, 'candidate' }
      .col-xs-12.col-md-3.col-md-offset-1.flex
        .area-switcher
          %label switch party
          %select{'data-behaviour': 'switchView', 'data-path': party_projects_election_survey_path(id: @survey.slug, party_id: '')}
            %option Switch party
            <option disabled>──────────</option>
            - @parties.each do |party|
              %option{value: party.slug}= party.name

  .block.-bg-faint.-pt4
    - @questions.each do |question|
      %a.question-anchor{id: "question-#{ question.position }"} &nbsp;
      .question.block
        .header
          - if question.position > 1
            %a.back{href: "#question-#{ question.position - 1 }", 'data-behaviour': 'scroll'} Back

          .wrapper.-small{role: 'layout'}
            .h.-h3.-centered
              %a{href: "#question-#{ question.position }", 'data-behaviour': 'scroll'}
                .c.-w8
                  #{ question.position }.
                  %br
                  = question.body

          - if question.position < 10
            %a.next{href: "#question-#{ question.position + 1 }", 'data-behaviour': 'scroll'} Next

        .wrapper.-container{role: 'layout'}
          .wrapper.-large{role: 'layout'}
            - @candidates.each do |candidate|
              - area = @survey.find_area(candidate.area)
              - response = @survey.response_for(question, candidate)
              - next unless response.present?
              .response.block.-my4
                .candidate
                  .content
                    = link_to candidate_projects_election_survey_path(id: @survey.slug, candidate_id: candidate.slug) do
                      .block.-mb2
                        = render partial: 'projects/election_surveys/portrait', locals: {candidate: candidate}
                        .speech-line
                      .p.-centered
                        %p.p.-t4.c.-w6= candidate.name
                        %p.p.-t5.c.-w4= @party.name
                        %p.p.-t5.c.-w4= area.name

                .body
                  .response-body
                    .p.-serif.-sf.-t3
                      :markdown
                        #{ response.body }

          = render partial: 'projects/election_surveys/nonresponders', locals: {candidates: @nonresponders}