%h1= @question.body

%ul.responses-list
  - @responses.each do |response|
    - candidate = @survey.find_candidate(response.candidate)
    - party = @survey.find_party(candidate.party)

    %li
      = link_to candidate_projects_election_survey_path(id: @survey.slug, candidate_id: candidate.slug), class: 'block -m1 -mb2' do
        .artwork.-square= image_tag "candidates/#{ candidate.slug }.jpg"
        .block.-mt1= candidate.name

      :markdown
        #{ response.body }