- content_for :subheader_detail do
  %div
    .breadcrumbs
      = link_to 'Authors', [:admin, :authors]
      = link_to 'New author', [:new, :admin, :author]

    %nav
      = link_to "Cancel without saving", [:admin, :authors], class: 'button -cancel'
      = link_to "Save", [:admin, :authors], class: 'button', 'data-action': 'submitForm'

= render partial: 'admin/authors/form', locals: {author: @author}