- content_for :subheader_detail do
  %div
    .breadcrumbs
      = link_to 'Authors', [:admin, :authors]
      = link_to @author.full_name, [:admin, @author]

    %nav
      = link_to "Delete", [:admin, @author], class: 'button', 'data-confirm': "This can't be undone! Are you 100% sure?", method: 'delete'
      = link_to "Edit", [:edit, :admin, @author], class: 'button'

%dl.admin-data
      
  %dt Name
  %dd= @author.full_name

  %dt Bio
  %dd
    - if @author.bio.present?
      :markdown
        #{ raw @author.bio }
    - else
      [blank]

  %dt Portrait
  %dd
    - if @author.portrait.url.present?
      = image_tag @author.portrait.url, loading: 'lazy'
    - else
      [none]

- cache ['admin', @author, @author.articles] do
  %table.admin-table
    %tbody
      - @author.articles.by_date.each do |article|
        - cache ['admin', @author, article, 'row'] do
          %tr
            %td= link_to truncate(article.title, length: 92), [:admin, article]
            %td{width: '150'}= article.is_published? ? article.issue_date.strftime('%e %b %Y') : '-'