- content_for :subheader_list do
  %div
    .breadcrumbs
      = link_to 'Elections', [:admin, :election_surveys]

    %nav
      = link_to 'New election', [:new, :admin, :election_survey], class: 'button'

  %div.filters
    .page= render partial: "admin/layouts/pagination", locals: {collection: @election_surveys}

    .options &nbsp;

%table.admin-table
  %tbody
    - @election_surveys.each do |election_survey|
      %tr
        %td= link_to election_survey.election_type, [:admin, election_survey]
        %td{width: '150'}= election_survey.election_year