- content_for :subheader_list do
  %div
    .breadcrumbs
      = link_to 'Elections', [:admin, :election_surveys]

    %nav
      = link_to 'New election', [:new, :admin, :election_survey], class: 'button'

  %div.filters
    .page
      .current #{ @election_surveys.current_page }/#{ @election_surveys.total_pages }
      .pagination
        - if !@election_surveys.first_page?
          = link_to '<', request.query_parameters.merge(p: (@election_surveys.current_page - 1))
        - else
          %a.-disabled
            <
        - if !@election_surveys.last_page?
          = link_to '>', request.query_parameters.merge(p: (@election_surveys.current_page + 1))
        - else
          %a.-disabled
            >

    .options &nbsp;

%table.admin-table
  %tbody
    - @election_surveys.each do |election_survey|
      %tr
        %td= link_to election_survey.election_type, [:admin, election_survey]
        %td{width: '150'}= election_survey.election_year