- content_for :subheader_list do
  %div
    .breadcrumbs
      = link_to 'Contact messages', [:admin, :contact_messages]

    %nav &nbsp;

  %div.filters
    .page
      .current #{ @contact_messages.current_page }/#{ @contact_messages.total_pages }
      .pagination
        - if !@contact_messages.first_page?
          = link_to '<', request.query_parameters.merge(p: (@contact_messages.current_page - 1))
        - else
          %a.-disabled
            <
        - if !@contact_messages.last_page?
          = link_to '>', request.query_parameters.merge(p: (@contact_messages.current_page + 1))
        - else
          %a.-disabled
            >

    .options &nbsp;

%table.admin-table
  %tbody
    - @contact_messages.each do |contact_message|
      %tr
        %td= link_to contact_message.contacter_name, [:admin, contact_message]
        %td= contact_message.regarding
        %td{width: '150'}= contact_message.created_at.strftime('%e %b %Y')