- content_for :subheader_list do
  %div
    .breadcrumbs
      = link_to 'Landing pages', [:admin, :landing_pages]
    %nav
      = link_to 'New landing page', [:new, :admin, :landing_page], class: 'button'

  %div.filters
    .page= render partial: "admin/layouts/pagination", locals: {collection: @landing_pages}

    .options &nbsp;

%table.admin-table
  %tbody
    - @landing_pages.each do |landing_page|
      %tr
        %td= link_to truncate(landing_page.name, length: 92), [:admin, landing_page]
        %td <code>/#{ landing_page.slug }</code>
        %td= pluralize landing_page.subscriptions.count, 'subscription'