.block.-my2
  %section.section.staff
    .details
      .portrait
        - if author.portrait.present?
          = image_tag author.portrait.url

      .bio.text
        :markdown
          #{ author.full_name }

          #{ raw author.bio }

        - if author.articles.published.any?
          :markdown
            _#{ link_to raw("Articles by #{ author.full_name } &rarr;"), author }_