- set_meta_tags title: @author.full_name
- set_meta_tags description: @author.bio
- set_meta_tags canonical: "https://www.dublininquirer.com/contributors/#{ @author.slug }"

- if @author.portrait.present?
  - set_meta_tags image_src: @author.portrait.url
  - set_meta_tags og: {image: @author.portrait.url}
  - set_meta_tags twitter: {image: {'_': @author.portrait.url}}

%header.page-header
  %h1.heading= @author.full_name
  .p.-b1
    :markdown
      #{ raw @author.bio }

  .illustration
    - if @author.portrait.present?
      = image_tag @author.portrait.url

.block.-p2.-pb4
  .wrapper.-contained{role: 'layout'}
    = render partial: 'articles/index', locals: {page: @page, articles: @articles, query_params: {}}