- title 'Register'
- noindex true

- content_for :breadcrumbs do
  .current Register

%header.header.-modal
  %h1.heading Create a free account

  .text.-article
    :markdown
      Sign up for a free account to read up to four articles each month, comment on articles, and get our (optional) newsletter, with reminders of events, updates from the newsroom, and the pick of the week’s stories.

.box.-tight
  = form_for @user, html: {class: 'box-form'} do |f|
    .field
      = f.label :given_name, 'Name'
      .twofer
        = f.text_field :given_name, placeholder: 'First'
        = f.text_field :surname, placeholder: 'Surname'
    .field
      = f.label :email_address
      = f.email_field :email_address, placeholder: 'sean@example.ie'
    .field
      = f.label :password
      = f.password_field :password, placeholder: 'password123'

    .field.-check
      = f.label :subscribed_weekly do
        = f.check_box :subscribed_weekly
        Subscribe to our free weekly email newsletter?

    %nav.actions
      = f.submit 'Register', class: 'button -standard -big'

.box.-other
  %header.-box
    .heading Other options
  .content
    %ul.list.-options
      %li= link_to "Log in to an existing account", :login, class: 'button -standard'
      %li= link_to "Migrate an account from the old (pre August 2018) site", '/migrate', class: 'button -standard'
