- title 'Your account'
- noindex true

.wrapper.-small{role: 'layout'}
  %header.block.-mt4.-mb2
    %h2.h.-h2.-centered Manage account

  .block.-mt4
    %h2.h.-h4.-centered Account details

  .block.-b.-p1.-my2
    .p.-t4
      %ul.list
        %li.block.-mb1
          %label.c.-w8 Name
          %p #{ current_user.full_name.present? ? current_user.full_name : "[blank]" }
        %li.block.-mb1
          %label.c.-w8 Email
          %p #{ current_user.email_address.present? ? current_user.email_address : "[blank]" }
        %li.block
          %label.c.-w8 Nickname for comments
          %p #{ current_user.nickname.present? ? current_user.nickname : "[blank]" }

  - if current_user.subscription
    - cache ['user/show', current_user, 'subscription', current_user.subscription] do
      .block.-mt4
        %h2.h.-h4.-centered Subscription details

      .block.-b.-p1.-my2
        .p.-t4
          %ul.list
            %li.block.-mb1
              %label.c.-w8 Subscription plan
              %p
                - if current_user.subscription.plan.is_friend?
                  #{ 'Friend' }:
                - elsif current_user.subscription.plan.is_patron?
                  #{ 'Patron' }:
                - else
                  #{ current_user.subscription.plan.product.name }:

                %code #{ number_to_currency((current_user.subscription.plan.amount/100.0), unit: '€') }/#{ current_user.subscription.plan.interval }

            %li.block.-mb1
              %label.c.-w8 Next billing date
              - if current_user.subscription.current_period_ends_at.present?
                %p <code>#{ current_user.subscription.current_period_ends_at.strftime('%-d %B') }</code>

- if current_user.requires_address?
  .box
    %header.-box
      %h3.heading Shipping address
    %div
      = raw current_user.address_lines.join('<br>')

- if current_user.subscription && current_user.subscriber?
  - cache ['user/show', current_user, 'payment', current_user.subscription] do
    .box
      %header.-box
        %h3.heading Payment method
      %div
        - if current_user.stripe_default_source.present?
          %p
            #{ current_user.stripe_default_source['brand'] }
          %code #{ '···· ' * 3 }#{ current_user.stripe_default_source['last4'] } (Expires #{ current_user.stripe_default_source['exp_month'].to_s.rjust(2, '0') }/#{ current_user.stripe_default_source['exp_year'] })
        - else
          :markdown
            We don't have a working payment method on file for you. Can you supply one?

- if @invoices.any?
  .box
    %header.-box
      %h3.heading Invoices
    %div
      %ol.list
        - @invoices.each do |invoice|
          %li= link_to invoice.display_name, invoice, target: "_blank"

.block.-my4.-py4
  .p.-t4.-sf.-centered
    %h3.c.-w8 Account options
    %ul
      %li= link_to "Change account details", [:edit, :user]
      - if current_user.subscription && current_user.subscriber?
        %li= link_to "Change payment method", [:payment, :user]
        - if current_user.subscription.changeable?
          %li= link_to "Change subscription plan", [:subscription, :user]
        - if current_user.subscription.requires_address?
          %li= link_to "Change subscription address", [:address, :user]
      %li= link_to "Log out", :user_session, method: :delete
