- content_for :breadcrumbs do
  = link_to "Account", :user
  .current Change subscription plan

%header.header.-modal
  %h1.heading Change subscription

.container
  .row
    .col-xs-12
      .box.-tight.-roomy
        %header.header.-box.-tight
          %h3.heading Digital

        .content
          :markdown
            Unlimited digital access to **DublinInquirer.com**, including our full archive, optimised for desktop and mobile.

        %nav.-box.-actions.-tight.-full
          - if @subscription.requires_address?
            = link_to raw("<span>Subscribe</span><span class='figure'>€5/month</span>"), subscription_user_path(plan: 'digital'), class: 'button -price', method: 'put'
          - else
            = link_to raw("<span>Keep Digital-only</span>"), subscription_user_path(plan: 'digital'), class: 'button -price', method: 'put'

      .box.-tight.-roomy
        %header.header.-box.-tight
          %h3.heading Digital + Monthly print

        .content
          :markdown
            The **monthly print edition** features a selection of our favourite online articles delivered to your door. Comes with unlimited **digital access**.

        %nav.-box.-actions.-tight.-full
          - if @subscription.requires_address?
            = link_to raw("<span>Keep Digital + print</span>"), subscription_user_path(plan: 'print'), class: 'button -price', method: 'put'
          - else
            = link_to raw("<span>Subscribe</span><span class='figure'>€8/month</span>"), subscription_user_path(plan: 'print'), class: 'button -price', method: 'put'