.wrapper.-small{role: 'layout'}
  %header.page-header
    %h1.h.-h2 Change subscription plan

  .v2-product-options.-vertical
    .v2-product-options__option{class: (@product.slug.to_s == "digital" ? "-active" : "-inactive")}
      %div
        %h3.v2-product-options__option__name
          %strong Digital + digital
          %span from €9/month
        .v2-product-options__option__description
          :markdown
            The monthly print edition features a selection of our favourite online articles delivered to your door. Pairs well with coffee. Comes with unlimited digital access.

        = form_with url: [:subscription, :user], class: "v2-product-options__option__form", autocomplete: "off", method: :get, local: true, html: {"data-controller": "price-chooser", "data-action": "price-chooser#change", novalidate: true} do |f|
          - if @product.slug.to_s == "print"
            %h4 Change your monthly subscription price:
          - else
            %h4 Set your monthly subscription price:
          .flexible-price
            = f.hidden_field :product_slug, value: "print", "data-price-chooser-target": "productSlug"
            %fieldset.flexible-price__price
              .currency €
              .amount
                = f.number_field :amount, value: ((@product.slug.to_s == "print") ? (@plan.amount / 100) : 9), min: 9, "data-price-chooser-target": "amount", "data-action": "change->price-chooser#validateAmount", autocomplete: "off"
                .hint per month
            %nav.flexible-price__actions
              = f.submit raw("Subscribe &rarr;"), data: { "price-chooser-target": "subscribeButton", disable_with: false }

    .v2-product-options__option{class: (@product.slug.to_s == "digital" ? "-active" : "-inactive")}
      %div
        %h3.v2-product-options__option__name
          %strong Digital
          %span from €6/month
        .v2-product-options__option__description
          :markdown
            Unlimited digital access to DublinInquirer.com, including our full archive, optimised for desktop and mobile.

        = form_with url: [:subscription, :user], class: "v2-product-options__option__form", autocomplete: "off", method: :get, local: true, html: {"data-controller": "price-chooser", "data-action": "price-chooser#change", novalidate: true} do |f|
          - if @product.slug.to_s == "print"
            %h4 Change your monthly subscription price:
          - else
            %h4 Set your monthly subscription price:
          .flexible-price
            = f.hidden_field :product_slug, value: "digital", "data-price-chooser-target": "productSlug"
            %fieldset.flexible-price__price
              .currency €
              .amount
                = f.number_field :amount, value: ((@product.slug.to_s == "digital") ? (@plan.amount / 100) : 6), min: 6, "data-price-chooser-target": "amount", "data-action": "change->price-chooser#validateAmount", autocomplete: "off"
                .hint per month
            %nav.flexible-price__actions
              = f.submit raw("Subscribe &rarr;"), data: { "price-chooser-target": "subscribeButton", disable_with: false }

  .block.-my4.-py4
    .p.-t4.-sf.-centered
      %ul
        %li= link_to raw("&larr; Go back without saving changes"), :user