.content
  - if !logged_in? or !current_user.subscriber?
    %section.section.-subscribe.box
      %header.-tiny
        %h4.heading Support local journalism
        :markdown
          Dublin Inquirer is funded by its readers, not advertisers.

      %nav.-tiny.-centered= link_to "Subscribe", :products, class: 'button -cta -small'

  %section.section.-sidebar.box.-tight
    %header.-box.-tight
      %h4.heading The Podcast

    .content
      = render partial: 'recent_podcasts'

    %nav.-box.-tight
      = link_to raw("More episodes &rarr;"), category_path('podcast'), class: 'p -b5'

  %section.section.-sidebar.box.-tight
    %header.-box.-tight
      %h4.heading Council Tracker

    .content
      %ol.list.-delineated
        - @recent_motions.each do |motion|
          %li
            = link_to "https://www.counciltracker.ie/motions/#{ motion['hashed_id'] }" do
              = truncate(motion['title'], length: 34)
              %em.c.-grey
                &ndash; #{ motion['result'] }ed

    %nav.-box.-tight
      = link_to raw("Visit Council Tracker &rarr;"), 'https://www.counciltracker.ie', class: 'p -b5'