.content
  - if logged_in? and current_user.lapsed?
    %section.block.-py2.-px1.-mb2.-bg-blue
      %h4.c.-w8 Special offer for past subscribers

      .block.-my1
        :markdown
          Resubscribe to Dublin Inquirer and get your first month free.

      .block.-mt2= link_to "Subscribe", '/resubscribe-offer-2018', class: 'button -white'

  - elsif !logged_in? or !current_user.subscriber?
    %section.block.-py2.-px1.-mb2.-bg-blue.-artworked
      = image_tag "https://d1trxack2ykyus.cloudfront.net/25439908_1555010937919816_8873633341112035018_o.jpg", loading: 'lazy', class: 'artwork -sidebar'
      
      %h4.c.-w8 Support local journalism

      .block.-my1
        :markdown
          Dublin Inquirer is funded by its readers, not advertisers.

      .block.-mt2= link_to "Subscribe", "/v2/subscribe", class: 'button -white'
      
  - elsif !is_christmastime?
    .block.block.-py2.-px1.-mb2.-bg-blue
      %h4.c.-w8 Give a subscription
      .block.-my1
        :markdown
          The perfect gift for the inquisitive Dubliner in your life.

        .block.-mt2
          #{ link_to "See options", :gift_subscriptions, class: 'button -white' }

  - if (!logged_in? or (logged_in? and current_user.subscriber?)) and is_christmastime?
    .block.block.-pt2.-px1.-pb1.-mb2.-bg-christmas{'data-behaviour': 'snowing'}
      %h4.c.-w8 Gift subscriptions
      .block.-my1
        :markdown
          The perfect gift for the inquisitive Dubliner in your life.

        .block.-mt2
          #{ link_to "See options", :gift_subscriptions, class: 'button -christmas' }

  - elsif false
    = link_to "https://shop.dublininquirer.com", class: 'block -py2 -px1 -mb2 -bg-white -b external-ad' do
      %h4.c.-w8 The shop
  
      .block.-my1
        :markdown
          Dublin Inquirer prints, totes, t-shirts, and more.

  %section.block
    .block.-pb1.-bb
      %h4.c.-w8= link_to 'Council Tracker', 'https://www.counciltracker.ie', class: 'a -elsewhere'

    .block.-mt1
      %ol.list.-delineated
        - @recent_motions.each do |motion|
          %li
            = link_to "https://www.counciltracker.ie/motions/#{ motion['hashed_id'] }" do
              = truncate(motion['title'], length: 34)
              %em.c.-grey
                &ndash; #{ motion['result'] }ed