.content
  - if !logged_in? or !current_user.subscriber?
    %section.block.-py2.-px1.-mb1.-bg-blue
      %h4.c.-w6 Support local journalism

      .block.-my1
        :markdown
          Dublin Inquirer is funded by its readers, not advertisers.

      .block.-mt2= link_to "Subscribe", :products, class: 'button -white'

  %section.block.-b.-mb1
    .block.-bb.-p1
      %h4.c.-w6= link_to 'The Podcast', category_path('podcast'), class: 'a -elsewhere'

    .block.-my1.-p1
      = render partial: 'recent_podcasts'

  %section.block.-b
    .block.-bb.-p1
      %h4.c.-w6= link_to 'Council Tracker', 'https://www.counciltracker.ie', class: 'a -elsewhere'
    .block.-p1
      %ol.list.-delineated
        - @recent_motions.each do |motion|
          %li
            = link_to "https://www.counciltracker.ie/motions/#{ motion['hashed_id'] }" do
              = truncate(motion['title'], length: 34)
              %em.c.-grey
                &ndash; #{ motion['result'] }ed