- title "About us"
- description "Dublin Inquirer is an independent, reader-supported newspaper serving Ireland's capital"
- set_meta_tags canonical: "https://www.dublininquirer.com/imprint"

- cache ['imprint', 'v5'] do
  %header.page-header
    %h1.h.-h2 Dublin Inquirer is an independent newspaper launched in June 2015 to provide quality coverage of city affairs.

  .block.-p2.-pb4
    .p.-t3.-centered
      .wrapper.-small{role: 'layout'}
        .block.-my2
          %h4.h.-h4 Editor
          %p= link_to "Lois Kapila", "/contributors/lois-kapila"
        .block.-my2
          %h4.h.-h4 Deputy editor
          %p= link_to "Sam Tranum", "/contributors/sam-tranum"
        .block.-my2
          %h4.h.-h4 City reporters
          %p= link_to "Laoise Neylon", "/contributors/laoise-neylon"
          %p= link_to "Claudia Dalby", "/contributors/claudia-dalby"
        .block.-my2
          %h4.h.-h4 Tech
          %p= link_to "Brian Flanagan", "/contributors/brian-flanagan"
        .block.-my2
          %h4.h.-h4 Regular contributors
          %p= link_to "Stephanie Costello", "/contributors/stephanie-costello"
          %p= link_to "Donal Corrigan", "/contributors/donal-corrigan"
          %p= link_to "Sean Finnan", "/contributors/sean-finnan"
          %p= link_to "Maeve L'Estrange", "/contributors/maeve-l-estrange"
          %p= link_to "Shamim Malekmian", "/contributors/shamim-malekmian"
          %p= link_to "Dan Seery", "/contributors/daniel-seery"
          %p= link_to "Dean Van Nguyen", "/contributors/dean-van-nguyen"

= render partial: 'products/enticement'