.service
  .title-bar
    %h3.h.-h4= service['title']
    .organisation= service['organisation'].present? ? service['organisation'] : service['contact_name']
    
  .description= simple_format service['description']

  .details
    - address_lines = service.values_at('address_line_1', 'address_line_2', 'address_city', 'address_county', 'address_postcode').reject(&:blank?)
    - if address_lines.any?
      .address
        %label Address
        = simple_format address_lines.compact.join(', ')

    - if service['areas']&.any?
      .areas
        %label Areas
        - service['areas'].each do |area|
          = link_to area, projects_neighbours_services_path(area: area)
    
    - if service['categories']&.any?
      .categories
        %label Categories
        - service['categories'].each do |category|
          = link_to category, projects_neighbours_services_path(category: category)
    
    .contact
      %label Contact
      - if service['contact_name']&.present?
        %span= service['contact_name']
      - if service['contact_number']&.present?
        = link_to service['contact_number'], "tel:#{service['contact_number']}"
      - if service['contact_email']&.present?
        = link_to service['contact_email'], "mailto:#{service['contact_email']}"
      - if service['contact_url']&.present?
        = link_to format_url(service['contact_url']), service['contact_url']