= form_with url: [:projects, :neighbours, :services], method: :post, data: {remote: false} do |f|
  .field
    = f.label :description, 'Service description'
    = f.text_area :description

  .field
    = f.label :contact_name, 'Contact name'
    = f.text_field :contact_name

  .field
    = f.label :contact_number, 'Contact phone number'
    = f.telephone_field :contact_number

  .field
    = f.label :contact_email, 'Contact email'
    = f.telephone_field :contact_email

  .field
    = f.label :contact_url, 'Contact web address'
    = f.telephone_field :contact_url

  .actions
    = f.button 'Submit service'