- content_for :subheader_list do
  %div
    .breadcrumbs
      = link_to 'Tags', [:admin, :tags]

    %nav
      = link_to 'New tag', [:new, :admin, :tag], class: 'button'

  %div.filters
    .page= render partial: "admin/layouts/pagination", locals: {collection: @tags}

    .options
      = form_tag [:admin, :tags], method: 'get', class: 'admin-search-form' do
        = text_field_tag :query, @filter[:query]
        = submit_tag raw('⏎'), class: 'button -small'

%table.admin-table
  %tbody
    - @tags.each do |tag|
      %tr
        %td= link_to truncate(tag.name, length: 92), [:admin, tag]
        %td{width: '150'}= tag.autolink? ? 'autolinked' : ''
        %td{width: '150'}= tag.displayable ? 'displayed' : 'hidden'
        %td{width: '150'}= pluralize tag.articles.count, 'article'