- content_for :subheader_detail do
  %div
    .breadcrumbs
      = link_to 'Tags', [:admin, :tags]
      = link_to "Merge #{ @tag.name }", [:merge, :admin, @tag]

    %nav
      = link_to "Cancel", [:admin, @tag], class: 'button -cancel'
      = link_to "Merge", [:merge, :admin, @tag], class: 'button', data: {action: "form#submitForm"}

= form_tag [:merge, :admin, @tag], class: 'admin-form', data: {"form-target": "form"} do
  %fieldset
    .field
      %label Merge into:
      .input{data: {controller: "tag"}}
        %input{type: "text", name: 'destination_name', autocomplete: "off", data: {tag: {target: "textInput"}, action: "tag#autocomplete"}}

  .actions
    = submit_tag 'Merge', class: 'button'