!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{'http-equiv': 'x-ua-compatible', content: 'ie=edge'}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1, user-scalable=no"}/
    - set_meta_tags site: 'Helping neighbours | Dublin Inquirer'
    - set_meta_tags og: { title: :title, site_name: :site, image: :image_src }
    - set_meta_tags twitter: { card: 'photo', site: "@dublininquirer", title: :title, site_name: :site, _: :image_src }
    = display_meta_tags reverse: true, separator: '|'

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'elections', media: 'all'
    = stylesheet_link_tag 'neighbours', media: 'all'

    = javascript_pack_tag 'neighbours'

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4000ff">
    <meta name="msapplication-TileColor" content="#4000ff">
    <meta name="theme-color" content="#ff0000">

  %body.-project
    %header.header.-elections.-blue
      .project-title
        .logo
          = link_to root_path, 'data-turbolinks': false do
            .logotype.-small
              = render partial: 'layouts/images/logo-left'
        .title
          = link_to [:projects, :neighbours, :root] do
            %strong Helping neighbours<br>
            Local services directory
      .cta
        = link_to "Submit a service", [:new, :projects, :neighbours, :service], class: 'button -white'
    
    %main.main.-elections.-neighbours.block.-pb4
      = yield
    
    .submit-overlay
      %h3 Offering a service yourself, or know of one being offered?
      .actions= link_to "Submit a service", [:new, :projects, :neighbours, :service], class: 'button -white'

    .wrapper.-container{role: 'layout'}
      .block.-py4.-my4
        .wrapper.-small{role: 'layout'}
          .p.-centered.-t4.-sf.-mono
            :markdown
              This is a project by <a href="https://www.dublininquirer.com" data-turbolinks="false">Dublin Inquirer</a>, a reader-funded local newspaper covering Ireland's capital, and <a href="https://www.civictech.ie" data-turbolinks="false">CivicTech·ie</a>. You can support local journalism by <a href="https://www.dublininquirer.com/subscribe" data-turbolinks="false">becoming a Dublin Inquirer subscriber</a>.

    = render partial: 'layouts/snippets/analytics'
