- content_for :subheader_detail do
  %div
    .breadcrumbs
      = link_to 'Elections', [:admin, :election_surveys]
      = link_to @election_survey.title, [:admin, @election_survey]
      = link_to @election_candidate.full_name, [:admin, @election_survey, @election_candidate]

    %nav &nbsp;
    
.block.-pb1.-my2.-bb
  %h3 Responses
  
- @election_survey_questions.each do |question|
  .block.-my1.-p1.-b
    .p.-t5.-sf
      %h3= link_to "#{ question.position }. #{ question.body }", [:admin, @election_survey, question]
      :markdown
        #{ raw question.election_survey_responses.find_by(election_candidate: @election_candidate).body }