- content_for :subheader_detail do
  %div
    .breadcrumbs
      = link_to 'Elections', [:admin, :election_surveys]
      = link_to @election_survey.title, [:admin, @election_survey]
      = link_to @election_survey_question.slug, [:admin, @election_survey, @election_survey_question]

    %nav &nbsp;
    
.block.-pb1.-my2.-bb
  %h3 Responses

- @election_survey_responses.each do |response|
  .block.-my1.-p1.-b
    .p.-t5.-sf
      %h3= link_to response.election_candidate.full_name, [:admin, @election_survey, response.election_candidate]
      :markdown
        #{ raw response.body }