- cache [article, 'excerpt'] do
  = link_to article.path, class: 'excerpt' do
    .illustration
      %figure.artwork
        = image_tag article.featured_artwork.image.large.url

    .content

      %header
        %h3.headline= article.title

      .text
        :markdown
          #{ raw article.excerpt }

      .meta
        .byline #{ article.author.try(:full_name) }
        .category #{ display_category(article.category) }