- cache [article, 'half'] do
  = link_to article.path, class: ['block', '-my2', '-pb2', 'excerpt'] do
    .block.-mb1
      %figure.artwork.-landscape
        .overlay.block.-b.-bg-default.-px1
          .p.-t5.c.-w4= display_category(article.category)
        - if article.featured_artwork && article.featured_artwork.image.present? && article.featured_artwork.image.url.present?
          = image_tag article.featured_artwork.image.medium.url, loading: 'lazy'

    .row
      .col-xs-12.col-lg-6
        .block
          .block.-my1
            .p.-left
              %h2.headline.inline.c.-w4.-serif= article.title

              - if article.authors.any?
                %span.inline.p.-t4.c.-w4 by #{ article.authors.map(&:full_name).to_sentence }

      .col-xs-12.col-lg-6
        .block.-mt1
          .p.-t4
            :markdown
              #{ raw article.excerpt }