- cache [article, 'half'] do
  = link_to article.path, class: ['excerpt', '-half'] do
    .illustration
      %figure.artwork
        - if article.featured_artwork.image.present?
          = image_tag article.featured_artwork.image.large.url

      .meta
        .bylines
          - article.authors.each do |author|
            .byline #{ author.try(:full_name) }
        .category #{ display_category(article.category) }

    .content
      %header
        %h3.headline= article.title

      .more
        .meta
          .byline #{ article.author.try(:full_name) }
          .category #{ display_category(article.category) }

        .text
          :markdown
            #{ raw article.excerpt }