- cache [article, 'result'] do
  = link_to article.path, class: ['excerpt', '-result'] do
    .illustration
      %figure.artwork
        = image_tag article.featured_artwork.image.large.url

    .content
      %header
        %h3.headline= article.title

      .more
        .meta
          .byline #{ article.authors.map(&:full_name).to_sentence }
          .category #{ display_category(article.category) }
          .dateline #{ article.issue_date.strftime("%-d %b '%y") }

        .text
          :markdown
            #{ raw article.excerpt }