- cache [article, 'small'] do
  = link_to article.path, class: ['block', '-my2'] do
    .block.-mb1
      .block.-bb
        .p.-t5= display_category(article.category)

    .block.-mb1
      %figure.artwork
        - if article.featured_artwork.image.present?
          = image_tag article.featured_artwork.image.large.url

    .p.-centered
      %h3.h.-h3= article.title
      .block.-mt1
        %p.p.-t5 by #{ article.authors.map(&:full_name).to_sentence }

    .block.-mt1
      .p.-t4
        :markdown
          #{ raw article.excerpt }