- cache [article, 'tiny'] do
  = link_to article.path, class: ['block', '-my2', '-pb2', 'excerpt'] do
    .block.-mb1
      %figure.artwork.-landscape
        .overlay.block.-b.-bg-default
          .p.-t5.c.-w4= display_category(article.category)

        - if article.featured_artwork && article.featured_artwork.image.present? && article.featured_artwork.image.url.present?
          = image_tag article.featured_artwork.image.medium.url, loading: 'lazy'

    .p.-t4.-centered
      %h3.headline.inline.c.-w4.-serif= article.title
      - if article.authors.any?
        .inline-block.c.-w4 by #{ article.authors.map(&:full_name).to_sentence }