- cache [article, 'tiny'] do
  .block
    .block.-mb1
      .block.-bb
        .p.-t5= display_category(article.category)

    = link_to article.path do
      .block.-mb1
        %figure.artwork
          - if article.featured_artwork.image.present?
            = image_tag article.featured_artwork.image.large.url

      .p.-centered
        %h3.h.-h3= article.title
        - if article.authors.any?
          .block.-mt1
            %p.p.-t5 by #{ article.authors.map(&:full_name).to_sentence }