!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{'http-equiv': 'x-ua-compatible', content: 'ie=edge'}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1, user-scalable=no"}/
    - set_meta_tags site: 'Dublin Inquirer'
    - set_meta_tags og: { title: :title, site_name: :site, image: :image_src }
    - set_meta_tags twitter: { card: 'photo', site: "@dublininquirer", title: :title, site_name: :site, _: :image_src }
    = display_meta_tags reverse: true, separator: '|'

    = csrf_meta_tags
    = csp_meta_tag
    
    = stylesheet_packs_with_chunks_tag 'elections', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_packs_with_chunks_tag 'elections', 'data-turbolinks-track': 'reload'

    = render partial: 'layouts/favicons'

  %body.-project
    %header.header.-elections.-blue
      .logo
        = link_to root_path, 'data-turbolinks': false do
          .logotype.-small
            = render partial: 'layouts/images/logo-left'
      .title
        = link_to '/projects/elections/2019-local' do
          %strong Citizens&rsquo; agenda<br>
          Local elections 2019
    
    %main.main.-elections
      = yield

    .wrapper.-container{role: 'layout'}
      .block.-py4.-my4
        .wrapper.-small{role: 'layout'}
          .p.-centered.-t4.-sf.-mono
            :markdown
              This is a project by <a href="https://www.dublininquirer.com" data-turbolinks="false">Dublin Inquirer</a>, a reader-funded local newspaper covering Ireland's capital, and <a href="https://www.civictech.ie" data-turbolinks="false">CivicTech·ie</a>. You can support local journalism by <a href="https://www.dublininquirer.com/subscribe" data-turbolinks="false">becoming a Dublin Inquirer subscriber</a>.

    = render partial: 'layouts/snippets/analytics'
