- content_for :subheader_list do
  %div
    .breadcrumbs
      = link_to 'Users', [:admin, :users]

    %nav
      = link_to "Export newsletter list", mailing_list_admin_users_path(format: 'csv'), class: 'button'
      = link_to 'New user', [:new, :admin, :user], class: 'button'

  %div.filters
    .page= render partial: "admin/layouts/pagination", locals: {collection: @users}

    .options
      = form_tag [:admin, :users], method: 'get', class: 'admin-search-form' do
        = text_field_tag :query, @filter[:query]
        = submit_tag raw('⏎'), class: 'button -small'

%table.admin-table
  %tbody
    - @users.each do |user|
      - cache ['admin', user, user.subscription, 'row'] do
        %tr{class: user.scheduled_for_deletion? ? '-deleted' : nil}
          %td= link_to "#{ user.full_name.present? ? user.full_name : user.email_address }", [:admin, user]
          %td{width: '150'}= user.created_at.strftime('%e %b %Y')