- content_for :subheader_detail do
  %div
    .breadcrumbs
      = link_to 'Users', [:admin, :users]
      = link_to @user.email_address, [:admin, @user]

    %nav

      - if @user.scheduled_for_deletion?
        = link_to "Cancel deletion", [:cancel_delete, :admin, @user], class: 'button', method: :put
      - else
        = link_to "Edit user", [:edit, :admin, @user], class: 'button'
        = link_to "Send password reset", [:reset_password, :admin, @user], class: 'button', method: :put
        = link_to "Delete this user", [:confirm_delete, :admin, @user], class: 'button', method: :get

        - if !current_user.subscriber?
          = link_to "Add sub (fixed)", new_admin_user_subscription_path(@user, subscription_type: 'fixed'), class: 'button'
          = link_to "Add sub (stripe)", new_admin_user_subscription_path(@user, subscription_type: 'stripe'), class: 'button'
        
      - if current_user.is_superadmin?
        = link_to "Impersonate this user", [:impersonate, :admin, @user], class: 'button', method: :put

.admin-details
  - if @user.scheduled_for_deletion?
    .block.-bg-red.-p2.-mb2
      .p.-t3
        This user will be fully, permanently, terrifyingly deleted in #{ time_ago_in_words @user.deleted_at }.

  %dl.admin-data
    %dt Email address
    %dd= @user.email_address

    %dt Name
    %dd= @user.full_name.present? ? @user.full_name : '[blank]'

    %dt Comment nickname
    %dd= @user.nickname.present? ? @user.nickname : '[blank]'

    %dt Wants newsletter?
    %dd= @user.subscribed_weekly ? 'Yes' : 'No'

    %dt Has a payment card?
    %dd= (@user.sources_count > 0) ? 'Yes' : 'No'

    - if @user.created_at < Date.new(2018,9,1)
      %dt Migrated?
      %dd= @user.needs_setup? ? 'No' : 'Yes'

    - if @user.has_address?
      %dt User address
      %dd
        - if @user.address_lines.any?
          = raw @user.address_lines.join("<br>")
        - else
          [blank]

      %dt Hub
      %dd
        - if @user.hub.present?
          = @user.hub
        - else
          [blank]

    %dt Subscriptions
    %dd
      %ul.admin-list.-subscriptions.-hyphenated
        - @user.subscriptions.order('created_at desc').each do |subscription|
          %li
            = link_to [:admin, subscription] do
              = subscription.plan.product.name
              (#{subscription.human_status})

    .block.-bt.-pt2.-mt2
      - @user.user_notes.reverse_chronologically.reject { |u| !u.persisted? }.each do |user_note|
        .block.-bg-faint.-p2.-mb2
          :markdown
            #{ user_note.body } _<span class="c -grey"> — #{ user_note.created_at.strftime('%d/%m/%Y') }</span>_

      = form_for [:admin, @user, @user_note], html: { class: 'admin-form block -m0' } do |f|
        .field
          = f.label :body, 'Add a note:'
          = f.text_area :body
        .actions
          = f.submit 'Save', class: 'button'