- title 'Migrate account'
- noindex true

- content_for :breadcrumbs do
  .current Migrate

%header.header.-modal
  %h1.heading Setup your new account

  .text.-article
    :markdown
      If you're already a subscriber, just enter your email address below to set up your account on the new site.

.box.-tight
  %header.-box.-tight
    .heading Log in to an existing account

  = form_tag migration_path, method: :post, class: 'box-form' do
    .field
      = label_tag :email_address
      .input= email_field_tag :email_address, nil, placeholder: "#{ %w(aoife sean ).sample }@example.ie"

    %nav.actions
      - if @failure
        .error No subscription account associated with that email address was found.
      = submit_tag "Set up account", class: 'button -standard -big'

.box.-other
  %header.-box
    .heading Other options
  .content
    %ul.list.-options
      %li= link_to "Register for a free account", :register, class: 'button -standard'
      %li= link_to "Log in to an existing account", :login, class: 'button -standard'
      %li= link_to "Reset your password", [:new, :password_reset], class: 'button -standard'
