- title 'Set a password'
- noindex true

.wrapper.-tiny{role: 'layout'}
  %header.page-header
    %h1.h.-h2 Set a password

  .block.-mb4
    .p.-t3.-sf
      :markdown
        To set up your new **DublinInquirer.com** account, we need you to set a password.

  = form_for @user, url: migrate_set_password_path(token: @token), html: {method: :put} do |f|
    .block.-form.-b.-p2.-bg-faint
      .field
        = f.label :email_address
        = f.email_field :email_address, placeholder: 'sean@example.ie', disabled: true

      .field
        = f.label :password, 'Set a password'
        = f.password_field :password
        = render_errors_for(@user, :password)

      %nav.block.-mt2.actions
        = f.submit 'Save', class: 'button -standard -big'

  .block.-my4.-py4
    .p.-t4.-sf.-centered &nbsp;