.block.-pb2.-bt
  .wrapper.-contained{role: 'layout'}
    .block.-mt2.-bg-black
      - if logged_in? and current_user.subscriber? and current_user.patron?
        .enticement
          %figure.artwork= image_tag "ads/meath-street.jpg"
          .text
            %header.-issue
              %h3.heading Give a subscription
            .p.-t3.c.-serif
              :markdown
                A subscription to Dublin Inquirer is the perfect gift for the inquisitive Dubliner in your life.
          %nav.options
            = link_to raw("Give a subscription &rarr;"), :gift_subscriptions, class: 'button -yellow'

      - elsif logged_in? and current_user.subscriber?
        .row
          .col-xs-12.col-md-6
            %figure.artwork= image_tag "ads/meath-street.jpg"
          .col-xs-12.col-md-6.col.flex
            .flex.-cy.block.-pr4
              .block.-mb2
                %h3.h.-h2 Support our work
              .p.-t4.c.-serif
                :markdown
                  In-depth, original local reporting is time consuming and expensive. But we think it's important.

                  If you value our work, consider becoming a _Friend_ or _Patron_ level subscriber.

              %nav.block.-mt2
                = link_to raw("Become a patron &rarr;"), [:upgrade, :subscriptions], class: 'button -yellow'

      - else
        .row
          .col-xs-12.col-md-6
            %figure.artwork= image_tag "ads/meath-street.jpg"
          .col-xs-12.col-md-6.col.flex
            .flex.-cy.block.-pr4
              .block.-mb2
                %h3.h.-h2 Understand your city
              .p.-t4.c.-serif
                :markdown
                  We do in-depth, shoe-leather reporting about the issues that shape Dublin. We're not funded by advertisers. We're funded by readers like you.

              %nav.block.-mt2
                = link_to raw("Become a subscriber &rarr;"), :products, class: 'button -yellow'