- content_for :breadcrumbs do
  .current Subscribe

%header.header.-modal
  %h1.heading Subscribe

  .text.-article
    :markdown
      Dublin Inquirer is funded mainly by its subscribers, rather than advertisers. That way, we can stay independent, and focused on the stories that readers want and need – and stories that you won’t find anywhere else.

      We also run occasional events, from pub quizzes to talks and debates. Subscribers often get first dibs on tickets, or discounts, or both.

%header.header.-section
  %h2.heading Subscription options

.container
  .row
    .col-xs-12
      .box.-tight.-roomy
        %header.header.-box.-tight
          %h3.heading Digital

        .content
          :markdown
            Unlimited digital access to **DublinInquirer.com**, including our full archive, optimised for desktop and mobile.

        %nav.-box.-actions.-tight.-full
          = link_to raw("<span>Subscribe</span><span class='figure'>€5/month</span>"), product_path(id: 'digital'), class: 'button -price'

      .box.-tight.-roomy
        %header.header.-box.-tight
          %h3.heading Digital + Monthly print

        .content
          :markdown
            The **monthly print edition** features a selection of our favourite online articles delivered to your door. Comes with unlimited **digital access**.

        %nav.-box.-actions.-tight.-full
          = link_to raw("<span>Subscribe</span><span class='figure'>€8/month</span>"), product_path(id: 'print'), class: 'button -price'

      .box.-tight.-roomy
        %header.header.-box.-tight
          %h3.heading Friends & Patrons

        .content
          :markdown
            Some readers subscribe at a higher monthly rate to further support the work that we do. These subscription rates include the **monthly print edition**, unlimited **digital access**, and an enormous amount of gratitude from all of us and from everybody else in Dublin who benefits from the reporting you support.

        %nav.-box.-actions.-tight.-full
          = link_to raw("<span>Friend</span><span class='figure -lg'>€20/month</span>"), product_path(id: 'friend'), class: 'button -price'
          = link_to raw("<span>Patron</span><span class='figure -lg'>€50/month</span>"), product_path(id: 'patron'), class: 'button -price'

      .box.-tight.-roomy
        %header.header.-box.-tight
          %h3.heading Student? Unwaged?

        .content
          :markdown
            We believe everybody deserves access to good journalism about their city: if you're unable to afford the subscription options above, send us an email and we'll work something out.

        %nav.-box.-actions.-tight.-right
          = link_to "Email us", 'mailto:brian@dublininquirer.com', class: 'button -standard'
