.wrapper.-small{role: 'layout'}
  %header.page-header
    %h1.h.-h2
      - if @plan.is_base_plan?
        #{ @plan.product.name }
      - elsif @plan.is_friend?
        'Friend' subscription
      - elsif @plan.is_patron?
        'Patron' subscription
      - else # discount
        #{ @plan.product.name }

  .block.-mb4
    .p.-t3.-sf
      - if @landing_page
        :markdown
          As a special offer, subscribe now and you'll receive a **free month** of digital access to **DublinInquirer.com**, including our full archive, optimised for desktop and mobile.

      - elsif @subscription.requires_address?
        :markdown
          **Monthly print edition** featuring a selection of our favourite online articles delivered to your door, in addition to unlimited **digital access**, including our full archive.
        - if @plan.is_friend? or @plan.is_patron?
          :markdown
            Thank you so much for your generosity in supporting us. We depend on readers like you.

      - else
        :markdown
          Unlimited digital access to **DublinInquirer.com**, including our full archive, optimised for desktop and mobile.

  = form_for @subscription, url: subscriptions_path, method: :post, html: {class: 'subscription-form', data: {'fonts-url': asset_url('fonts.css')}} do |f|

    = f.hidden_field :plan_id
    = f.hidden_field :landing_page_slug

    .block.-form
      .block.-b.-p2.-my2.-bg-faint
        .block.-mb2.-pb1.-bb
          %h3.c.-w8 Account details

        .field
          .twofer
            .field
              = f.label :given_name, 'First name'
              = f.text_field :given_name, placeholder: 'First'
              = render_errors_for(@subscription, :given_name)
            .field
              = f.label :surname, 'Surname'
              = f.text_field :surname, placeholder: 'Surname'
              = render_errors_for(@subscription, :surname)

        - if !(@subscription.user.present? && @subscription.user.persisted?)
          .field
            = f.label :email_address
            = f.email_field :email_address, placeholder: 'aoife@example.ie'
            = render_errors_for(@subscription.user, :email_address)

          .field
            = f.label :password
            = f.password_field :password, placeholder: 'password123'
            = render_errors_for(@subscription.user, :password)

      - if @subscription.requires_address?
        .block.-b.-p2.-my2.-bg-faint
          .block.-mb2.-pb1.-bb
            %h3.c.-w8 Subscription address

          .field
            = f.label :address_line_1
            = f.text_field :address_line_1
            = render_errors_for(@subscription, :address_line_1)
          .field
            = f.label :address_line_2
            = f.text_field :address_line_2
            = render_errors_for(@subscription, :address_line_2)
          .field
            = f.label :city
            = f.text_field :city
            = render_errors_for(@subscription, :city)
          .field.twofer
            .field
              = f.label :county
              = f.text_field :county
              = render_errors_for(@subscription, :county)
            .field
              = f.label :post_code
              = f.text_field :post_code
              = render_errors_for(@subscription, :post_code)
          .field.-select
            = f.label :country_code, 'Country'
            = f.country_select :country_code, priority_countries: ["IE", "GB"], priority_countries_divider: "-"
            = render_errors_for(@subscription, :country_code)

      .block.-b.-p2.-my2.-bg-faint
        .block.-mb2.-pb1.-bb
          %h3.c.-w8 Payment details

          - if @landing_page
            .text.-tiny
              :markdown
                You won't be charged until your free month elapses on #{ @subscription.trial_ends_at.strftime('%-d %B %Y') }.

        .field
          %label Card number
          #stripe-form_card-number

        .field.twofer
          .field
            %label Expiration date
            #stripe-form_card-expiry
          .field
            %label Security code
            #stripe-form_card-cvc

      %nav.block.-mt2.actions
        = f.submit 'Subscribe', class: 'button -standard -big'

  .block.-my4.-pb4
    .p.-t4.-sf.-centered
      - if @landing_page
        %ul.list.-nav
          %li #{ number_to_currency((@plan.amount/100.0), unit: '€') } billed monthly beginning on #{ @subscription.trial_ends_at.strftime('%-d %B %Y') }
          %li Cancel any time
      - else
        %ul.list.-nav
          %li #{ number_to_currency((@plan.amount/100.0), unit: '€') } billed monthly
          %li Subscriptions renew automatically
          %li Cancel any time

:javascript
  fbq('track', 'InitiateCheckout', {
    value: #{ ((@plan.try(:amount)/100.0) * 12).round },
    currency: 'EUR',
  });

