.wrapper.-small{role: 'layout'}
  %header.page-header
    %h1.h.-h2
      - if @plan.is_base_plan?
        #{ @plan.product.name }
      - elsif @plan.is_friend?
        'Friend' subscription
      - elsif @plan.is_patron?
        'Patron' subscription
      - else # discount
        #{ @plan.product.name }

  .block.-mb4
    .p.-t3.-sf
      - if @landing_page
        :markdown
          As a special offer, subscribe now and you'll receive a **free month** of digital access to **DublinInquirer.com**, including our full archive, optimised for desktop and mobile.

      - elsif @subscription.requires_address?
        :markdown
          **Monthly print edition** featuring a selection of our favourite online articles delivered to your door, in addition to unlimited **digital access**, including our full archive.
        - if @plan.is_friend? or @plan.is_patron?
          :markdown
            Thank you so much for your generosity in supporting us. We depend on readers like you.

      - else
        :markdown
          Unlimited digital access to **DublinInquirer.com**, including our full archive, optimised for desktop and mobile.

  #subscribe-form{data: {'action': subscriptions_path }}

  .block.-my4.-pb4
    .p.-t4.-sf.-centered
      - if @landing_page
        %ul.list.-nav
          %li You won't be billed today
          %li #{ number_to_currency((@plan.amount/100.0), unit: '€', precision: 0) } billed monthly beginning on #{ @subscription.trial_ends_at.strftime('%-d %B %Y') }
          %li Cancel any time
      - else
        %ul.list.-nav
          %li #{ number_to_currency((@plan.amount/100.0), unit: '€', precision: 0) } billed monthly
          %li Subscriptions renew automatically
          %li Cancel any time

- content_for :head_tags do
  = javascript_pack_tag 'subscribe'