= stylesheet_link_tag 'audio', media: 'all'
= stylesheet_link_tag 'deprecated', media: 'all'
= stylesheet_link_tag 'application', media: 'all'
= javascript_include_tag "deprecated", "data-turbo-track": "reload", defer: true
= javascript_include_tag "esbuild", "data-turbo-track": "reload", defer: true # svelte
= javascript_include_tag "application", "data-turbo-track": "reload", defer: true