%footer.primary-footer.block.-pb4
  .block.-py4.p.-t4
    .wrapper.-contained{role: 'layout'}
      .row
        .col-xs-12.col-md-4
          .block.-mb4
            = link_to :root do
              .logotype.-medium
                = render partial: 'layouts/images/logo-horizontal'
            .text
              :markdown
                Dublin Inquirer is an independent, reader-supported newspaper serving Ireland's capital.

          .block.-mb4
            .p.-sf.-t5
              = image_tag 'pci.jpg', style: 'float: left; width: 5rem; height: auto; margin-right: 1rem;'
              :markdown
                This publication supports the work of the Press Council of Ireland and the Office of the Press Ombudsman, and our staff operate within the Code of Practice. You can obtain a copy of the code, or contact the council, at [presscouncil.ie](https://www.presscouncil.ie), Lo-call 1890 208 080 or email: <a href="mailto:info@presscouncil.ie">info@presscouncil.ie</a>. 

        .col-xs-12.col-md-3.col-md-offset-2
          .hidden.-md-show
            .block.-mb4.p.-sf
              %p
                %big.c.-w4 Managing editor
                = link_to "Lois Kapila", "/contributors/lois-kapila"
              %p
                %big.c.-w4 Deputy editor
                = link_to "Sam Tranum", "/contributors/sam-tranum"
              %p
                %big.c.-w4 City reporters
                = link_to "Sean Finnan", "/contributors/sean-finnan"
                <br>
                = link_to "Erin McGuire", "/contributors/erin-mcguire"
                <br>
                = link_to "Laoise Neylon", "/contributors/laoise-neylon"
              %p
                %big.c.-w4 Web
                = link_to "Brian Flanagan", "/contributors/brian-flanagan"

        .col-xs-12.col-md-3
          .block.-mb4
            :markdown
              &copy; 2015&ndash;#{ Date.current.year }

              Dublin Inquirer<br>
              Parkview House<br>
              65 Crumlin Rd<br>
              Dublin 12

              CRO #559820
