.primary-flag
  = render partial: 'layouts/partials/meta-nav', locals: { fixed: false, small: true}
  .wrapper.-container{role: 'layout'}
    .block
      .flag-ears
        .ear
          .block.-bg-white.-b.-py1
            .p.-t5.-centered
              %h5 Follow us on
              %ul.list.-nav
                %li= link_to "Twitter", "https://www.twitter.com/dublininquirer"
                %li= link_to "Facebook", "https://www.facebook.com/dublininquirer"
                %li= link_to "Instagram", "https://www.instagram.com/dublininquirer"

        .flag
          = link_to root_path do
            .logotype.-large
              = render partial: 'layouts/images/logo-horizontal'
          .strapline
            %span Local
            %span Independent
            %span Different

        .ear
          .block.-bg-white.-b.-py1
            .p.-t5.-centered
              %h5 Get our weekly newsletter
              %form#mc-embedded-subscribe-form.tiny-form{:action => "https://dublininquirer.us10.list-manage.com/subscribe/post?u=24e41bd5d7188febc86b710f7&id=b34685dddf", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank", data: {turbo: "false", butts: "true"}}
                .field
                  %label{:for => "mce-EMAIL"} Email Address
                  %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => "", placeholder: 'Enter your email'}/
                  %div{"aria-hidden" => "true", :style => "position: absolute; left: -9999px;"}
                    %input{:name => "b_24e41bd5d7188febc86b710f7_b34685dddf", :tabindex => "-1", :type => "text", :value => ""}/
                .action
                  %input#mc-embedded-subscribe.text-button{:name => "subscribe", :type => "submit", :value => "Sign up"}/

    .block.-hr
      = render partial: 'layouts/partials/content-nav'