%nav.content-nav
  .left
    .links
      %span
        %em Issue for
        - if @current_issue
          #{ @current_issue.issue_date.strftime("%-d %b '%y") }
        - else
          &mdash;
  .center
    .links.-main
      = link_to "City Desk", category_path('city-desk')
      = link_to "Unreal Estate", category_path('unreal-estate')
      = link_to "Culture Desk", category_path('culture-desk')
      = link_to "The Dish", category_path('the-dish')
      = link_to "Opinion", category_path('opinion')
  .right
    .links
      = link_to "Past Issues", :issues