- css_classes = []
- (defined?(small) && small) ? (css_classes << '-small') : nil
- (defined?(fixed) && fixed) ? (css_classes << '-fixed') : nil
- (defined?(omnipresent) && omnipresent) ? (css_classes << '-omnipresent') : nil
- css_classes = css_classes.compact

%div.progress-bar.-fixed &nbsp;
%nav.meta-nav{class: css_classes}
  .frame{role: 'layout'}
    .meta-nav_content
      .left
        - unless (defined?(brief) && brief)
          .icons
            %a{class: 'icon -hamburger', 'data-action': 'openOverlay', 'data-target': 'menu'}
              = render partial: 'layouts/images/hamburger'

      - if !(defined?(small) && small)
        .center
          = link_to root_path do
            .logotype.-small
              = render partial: 'layouts/images/logo-horizontal'

      .right
        .links
          - unless (defined?(brief) && brief) # if brief, only show log in
            - if logged_in?
              - if current_user.is_admin?
                = link_to "admin", [:admin, :root]
              = link_to current_user.email_address, :user
            - else
              = link_to "Log in", login_path, class: 'button -nav'

            - if !logged_in? or !current_user.subscriber?
              = link_to 'Subscribe', :products, class: 'button -nav'

          - else
            = link_to "Log in", login_path, class: 'button -nav'

        - unless (defined?(brief) && brief)
          .icons
            %a{class: 'icon -search', 'data-action': 'openOverlay', 'data-target': 'search'}
              = render partial: 'layouts/images/search'