!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = display_meta_tags site: 'Dublin Inquirer'
    = csrf_meta_tags
    = csp_meta_tag
    
    = stylesheet_packs_with_chunks_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_packs_with_chunks_tag 'admin', 'data-turbolinks-track': 'reload'

  %body.admin
    .progress-bar.-fixed &nbsp;
    .admin{role: 'layout'}
      = render partial: "admin/layouts/header"

      %main.admin-main{data: {controller: "form"}}
        - if content_for(:subheader_detail) && content_for(:subheader_list)
          - raise "Choose detail or list header only"
        - elsif content_for(:subheader_detail)
          .admin-subheader.-detail= yield :subheader_detail
        - elsif content_for(:subheader_list)
          .admin-subheader.-index= yield :subheader_list

        .admin-view= yield
