!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = display_meta_tags site: 'Dublin Inquirer'
    = csrf_meta_tags
    = csp_meta_tag
    
    = javascript_pack_tag 'admin'
    = stylesheet_pack_tag 'admin'
    
    = render partial: "layouts/snippets/favicon"
  %body.admin
    .progress-bar.-fixed &nbsp;
    .admin{role: 'layout'}
      %header.admin-header{date: {controller: "header", header: {target: "header"}}}
        %section
          = link_to 'Dashboard', admin_root_path
          = link_to 'Subscriptions', admin_subscriptions_path
          = link_to 'Users', admin_users_path
          = link_to 'Comments', admin_comments_path
          = link_to 'Gifts', admin_gift_subscriptions_path
        %section
          = link_to 'Issues', admin_issues_path
          = link_to 'Articles', admin_articles_path
          = link_to 'Authors', admin_authors_path
          = link_to 'Tags', admin_tags_path

      %main.admin-main{data: {controller: "form"}}
        - if content_for(:subheader_detail) && content_for(:subheader_list)
          - raise "Choose detail or list header only"
        - elsif content_for(:subheader_detail)
          .admin-subheader.-detail= yield :subheader_detail
        - elsif content_for(:subheader_list)
          .admin-subheader.-index= yield :subheader_list
        
        .admin-view= yield
