!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{'http-equiv': 'x-ua-compatible', content: 'ie=edge'}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1"}/

    = display_meta_tags site: 'Dublin Inquirer', og: { title: :title, site_name: :site }, twitter: { title: :title, site_name: :site }, reverse: true, separator: '|'

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag "deprecated", "data-turbo-track": "reload", defer: true
    = javascript_include_tag "esbuild", "data-turbo-track": "reload", defer: true

  %body
    .centered{role: 'layout'}
      .content= yield

    = render partial: 'layouts/snippets/analytics'
