!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{'http-equiv': 'x-ua-compatible', content: 'ie=edge'}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    - set_meta_tags site: 'Dublin Inquirer'
    - set_meta_tags og: { title: :title, site_name: :site, image: :image_src }
    - set_meta_tags twitter: { card: 'photo', site: "@dublininquirer", title: :title, site_name: :site, _: :image_src }
    = display_meta_tags reverse: true, separator: '|'

    = csrf_meta_tags
    = csp_meta_tag
    <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    = stylesheet_link_tag 'deprecated', media: 'all'
    = javascript_include_tag "deprecated", "data-turbo-track": "reload", defer: true
    = javascript_include_tag "esbuild", "data-turbo-track": "reload", defer: true
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    = stylesheet_link_tag "application", media: 'all'

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4000ff">
    <meta name="msapplication-TileColor" content="#4000ff">
    <meta name="theme-color" content="#ff0000">
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1, user-scalable=no"}/

  %body
    = render partial: 'layouts/partials/meta-nav', locals: { fixed: true, small: false}
    = render partial: 'layouts/partials/primary-flag'

    .wrapper.-container{role: 'layout'}
      = yield

      .block.-bt
        = render partial: 'layouts/partials/primary-footer'

      = render partial: 'user_sessions/cookies'
      - if permission_for_cookie?
        = render partial: 'user_sessions/delinquent'

    = render partial: 'layouts/partials/search'
    = render partial: 'layouts/partials/expansive-nav'
    = render partial: 'layouts/snippets/analytics'