!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{'http-equiv': 'x-ua-compatible', content: 'ie=edge'}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1, user-scalable=no"}/
    - set_meta_tags site: 'Dublin Inquirer'
    - set_meta_tags og: {site_name: :site}
    - set_meta_tags twitter: { card: 'photo', site: "@dublininquirer", title: :title, site_name: :site, _: :image_src }
    = display_meta_tags reverse: true, separator: '|'

    = csrf_meta_tags
    = csp_meta_tag
    
    = render partial: "layouts/partials/packs"
    = render partial: "layouts/snippets/favicon"
    
    <meta name="theme-color" content="#ff0000">

  %body{data: {controller: "layout", action: "scroll@window->layout#onScroll"}}
    .wrapper.-container{role: 'layout'}
      = render partial: 'layouts/partials/meta-nav', locals: { omnipresent: true, fixed: true, small: false, brief: true }

      .sub-omnipresent
        = yield

      .block.-bt.-py4
        .p.-centered.-t4.-sf
          :markdown
            &copy; 2015&ndash;#{ Date.current.year }

            Dublin Inquirer<br>
            Parkview House<br>
            65 Crumlin Rd<br>
            Dublin 12

            CRO #559820

    - if current_user != true_user
      = render partial: 'user_sessions/impersonating'
    = render partial: 'layouts/snippets/analytics'