!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{'http-equiv': 'x-ua-compatible', content: 'ie=edge'}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1, user-scalable=no"}/
    - set_meta_tags site: 'Dublin Inquirer'
    - set_meta_tags og: {site_name: :site}
    - set_meta_tags twitter: { card: 'photo', site: "@dublininquirer", title: :title, site_name: :site, _: :image_src }
    = display_meta_tags reverse: true, separator: '|'

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4000ff">
    <meta name="msapplication-TileColor" content="#4000ff">
    <meta name="theme-color" content="#ff0000">
    = render partial: 'layouts/snippets/stripe'

  %body
    .wrapper.-container{role: 'layout'}
      = render partial: 'layouts/meta-nav', locals: { omnipresent: true, fixed: true, small: false, brief: true }

      .sub-omnipresent
        = yield

      .block.-bt.-py4
        .p.-centered.-t4.-sf
          :markdown
            &copy; 2015&ndash;#{ Date.current.year }

            Dublin Inquirer<br>
            Parkview House<br>
            65 Crumlin Rd<br>
            Dublin 12

            CRO #559820

    - if current_user != true_user
      = render partial: 'user_sessions/impersonating'
    = render partial: 'layouts/snippets/analytics'