!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{'http-equiv': 'x-ua-compatible', content: 'ie=edge'}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1, user-scalable=no"}/
    - set_meta_tags site: 'Dublin Inquirer'
    - set_meta_tags og: { title: :title, site_name: :site, image: :image_src }
    - set_meta_tags twitter: { card: 'photo', site: "@dublininquirer", title: :title, site_name: :site, _: :image_src }
    = display_meta_tags reverse: true, separator: '|'

    = csrf_meta_tags
    = csp_meta_tag

    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'

    = render partial: 'layouts/favicons'

  %body.-plain
    = yield

    = render partial: 'layouts/snippets/analytics'
