%header.header.-article.-standard
  .p.-category= link_to display_category(@article.category), category_path(@article.category)
  %h1.headline Airspace: #{ raw article.title }

  = render partial: 'articles/meta', locals: {article: article}

%article.article.-standard{lang: 'en'}
  - if article.featured_artwork.present?
    %figure.artwork.-featured
      = image_tag article.featured_artwork.image.medium.url, loading: 'lazy'
      %figcaption= article.featured_artwork.caption
  = raw render_content(article)