.wrapper.-small{role: 'layout'}
  %header.header.-article.-small
    .p.-category= link_to display_category(article.category), category_path(article.category)
    %h1.headline #{ raw article.opinion_title }

    .block.-my2
      .box
        %section.section.staff
          .details
            .portrait
              - if article.author.portrait.present?
                = image_tag article.author.portrait.url

            .bio.text
              :markdown
                #{ article.author.full_name }

                #{ raw article.author.bio }

    .meta.-small
      - if article.issue_date.present?
        .date
          #{ link_to article.issue_date.strftime('%e %B %Y'), article.issue }

      .share
        %ul.list.-nav
          %li= link_to "Facebook", "http://www.facebook.com/share.php?u=#{ "https://www.dublininquirer.com#{ article.path }" }"
          %li= link_to "Twitter", "https://twitter.com/intent/tweet?text=#{ article.title }&url=#{ "https://www.dublininquirer.com#{ article.path }" }"
          - if article.commentable?
            %li= link_to "Respond", "#comments", 'data-behaviour': 'scroll'


  %article.article.-standard{lang: 'en'}
    - if article.featured_artwork.present?
      %section.content
        %figure.artwork.-featured
          = image_tag article.featured_artwork.image.large.url
          %figcaption= article.featured_artwork.caption

    = raw render_content(article.content)