.block.-py4
  .p.-centered
    .wrapper.-small{role: 'layout'}
      .block.-my2
        .p.-t4
          #{ link_to @article.issue.issue_date.strftime('%-d %B %Y'), @article.issue } &mdash;
          #{ link_to display_category(@article.category), category_path(@article.category) }

    .wrapper.-small{role: 'layout'}
      .block.-mb2
        %h1.h.-h2.-w4.c.-serif= raw article.title

      - article.authors.each do |author|
        .author.block.-mb1
          .block
            .artwork.-portrait
              - if author.portrait.present?
                = image_tag author.portrait.url
              - else
                &nbsp;

          .block.-pl2
            .p.-t5.-left
              .c.-w6= author.full_name
              .p.-sf
                :markdown
                  #{ raw author.bio }

        %hr.-separator

  .wrapper.-small{role: 'layout'}
    = render partial: 'articles/meta', locals: {article: article}

%article.article.-formatted.-standard{lang: 'en'}
  - if article.featured_artwork.present?
    %section.content.-artwork
      %figure.artwork.-featured
        = image_tag article.featured_artwork.image.large.url
        %figcaption= article.featured_artwork.caption

  = raw render_content(article.content)