.block.-py4
  .p.-centered
    .wrapper.-small{role: 'layout'}
      .block.-my2
        .p.-t4
          #{ link_to @article.issue.issue_date.strftime('%-d %B %Y'), @article.issue } &mdash;
          #{ link_to display_category(@article.category), category_path(@article.category) }

    .wrapper.-small{role: 'layout'}
      .block.-mb2
        %h1.h.-h1.-serif= raw article.title
      .block.-mb2
        .p.-t3.-centered
          - if article.authors.any?
            by #{ raw article.authors.map { |author| link_to(author.full_name, author) }.to_sentence }

      %hr.-separator

  .wrapper.-small{role: 'layout'}
    = render partial: 'articles/meta', locals: {article: article}

.wrapper.-small{role: 'layout'}
  %article.article.-formatted.-standard.-stacked{lang: 'en'}
    = raw render_content(article.content)